{% extends 'layout.html' %}

{% block body %}
        <h3>
        <p>order details : {{order.orderno}}
        </p><<p>Data : {{order.order_date}}
        </p><p>Status  : {{order.status}}
        </p></h3>


<div class="container">
        <div class="card">
                 <div class="card-body">
         Customer Name : {{order.pick_cname}}
        Customer Contact : {{order.pick_tel}}
        Address : {{order.pick_address}}
        </div>
        <div>

        <div class="card">
                <div class="card-body">
        Drop Customer Name :         {{order.drop_cname}}
        Drop Customer Contact :        {{order.drop_tel}}
        Drop Customer Address : {{order.drop_address}}
        </div>
</div>

</div>


{% endblock %}
